* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary
*.woff binary
*.woff2 binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
